.page {
    background-color: #2A2C2F;
    font-family: 'Inter', 'Arial';
    color: white;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

a:hover {
  opacity: 70%;
}