.intro__text {
    max-width: 690px;
    font-size: 16px;
    line-height: 163%;
    font-weight: 200;
    margin: 40px 0 33px;
}

@media screen and (max-width: 1023px) {
    .intro {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        max-width: 288px;
    }
}