.cover {
    max-width: 1184px;
    aspect-ratio: 16 / 10;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 1279px) {
    .cover {
        max-width: 100%;
    }
}